<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content ="ie=edge">
    <title> Components | Somerville </title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography defaults</h2>

    <article class="component">
        <h3 class="component_name">Body</h3>
        <img
        srcset="img/paragraph.png 2x"
        src="img/paragraph.png" 
        alt="paragraph copy"/>

        <div class="paragraph-section">
            <p>
                With a growing emphasis on corporate environmental impact, we understand the impact of our work and recognise that our clients' needs are changing.
            </p>
            <p>
                We have designed a sustainable service for clients who prioritise their commercial impact. The process involves separating and recycling wood, metal and plastics to achieve zero waste to landfill certification.
            </p>
            <p>
                Sustainable manufacturing makes ecological and commercial sense, so we strive to minimise waste and create efficiencies.
            </p>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">Hero Header</h3>
        <img
        srcset="img/H1.png 2x"
        src="img/H1.png" 
        alt="paragraph copy"/>

    <section class="hero">
    <div class="overlay"></div>

    <div class="hero-text">
        <h1>
        Crafting interiors<br>across
        the<br>UK, Ireland & beyond
        </h1>
    </div>
    </section>
    </article>

    
</body>

</html>

